body {
  margin: 3.5rem auto 0.5rem;
  width: 40rem;
  max-width: 100vw;
  font: 1.2em/1.62 sans-serif;
}

.is-playing.is-fullwidth body {
  width: 100%;
}

.is-dark {
  background: #222;
  color: #fff;
}

h1,
h2 {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

h2 {
  font-size: 1rem;
  font-style: oblique;
  font-weight: normal;
}

form {
  text-align: center;
  width: 95%;
  border: solid 1px #aaa;
  margin: 3.5rem auto 0.5rem;
  border-radius: 5px;
  overflow: hidden;
}

form:focus-within {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

input {
  width: 85%;
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  border: none;
  border-radius: 0;
  background: #fff;
  vertical-align: middle;
}

form:has(input:focus) {
  box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.2);
}

button {
  width: 15%;
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  border: none;
  border-left: solid 1px #aaa;
  border-radius: 0;
  background: #f1f1f1;
  vertical-align: middle;
}

footer {
  margin: 0 auto 1.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
footer p {
  text-align: center;
  font-size: 0.8rem;
  margin: 0;
}

footer p a {
  color: #000;
}

.loading,
.is-loading form,
.is-loading form + footer,
.is-loading .error {
  display: none;
}

.is-loading .loading {
  display: block;
  margin: 3.5rem auto 0;
}

.error {
  display: none;
}

.is-error .error {
  box-sizing: border-box;
  height: 3rem;
  padding: 0;
  margin: 0;
  color: darkred;
  display: block;
}
.is-error form {
  margin-top: 5rem;
}

.submitted-links {
  width: 95%;
  max-width: 95%;
  margin: 3rem auto 0.5rem;
  overflow-x: clip;
}
.submitted-links article:first-child:before {
  content: "Recent Links";
  display: block;
}

.submitted-links article {
  display: block;
  margin: 0.5rem;
}
.submitted-links article a.is-title {
  text-align: justify;
  display: block;
  color: #444;
  margin: 0 0.5rem;
  font-size: 0.9em;
}
.submitted-links article a.is-publisher {
  display: block;
  color: #aaa;
  margin: 0 0.5rem;
  text-decoration: none;
  font-size: 0.8em;
}
.submitted-links article a.is-publisher:before {
  content: "(";
}
.submitted-links article a.is-publisher:after {
  content: ")";
}
